POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha
POSTGRES_DB=estoque_db_docker

DB_HOST=db
DB_PORT=5432

API_EXTERNAL_PORT=8080
POSTGRES_EXTERNAL_PORT=5433

JWT_SECRET=sua_chave_jwt
JWT_EXPIRATION_HOURS=2